.comm {
  animation: scroll 25s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slideLeft {
  transition: transform 0.75s ease-out;
  transform: translateX(-100%);
}

.slideRight {
  transition: transform 0.75s ease-out;
  transform: translateX(100%);
}
